#logo
{
    height: 300px;
    width:auto;
}
#pic
{
    width:auto;
    height: 600px;
    border-radius: 50px;
    border:8px double black;

}
#last
{
    height: 30px;
}
body {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 3px #ababab;
    background-image: linear-gradient(black,red);

  }
  #cake
  {
    float: right;
    height: 400px;
  }